html, main{
    height: 100%;
    width: auto;
}

.cardcustom{
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.cardcustom:hover{
	 -webkit-transform: scale(1.1);
	 -moz-transform: scale(1.1);
	 -o-transform: scale(1.1);
 transform: scale(1.1);
	 -webkit-transition: all 0.3s ease;
	 -moz-transition: all 0.3s ease;
	 transition: all 0.3s ease;
}

.nlink{
    color: DimGray;
    font-size: 110%;
    text-decoration: none;
}

.nlink:hover{
    color: BlueViolet;
    background-color: Lavender;
}

.blink {
    color: DodgerBlue;
    font-size: 110%;
    text-decoration: none;
}

.blink:hover {
    color: BlueViolet;
    background-color: Lavender;
}

.tlink{
    color: DimGray;
    text-decoration: none;
}

.tlink:hover{
    color: BlueViolet;
}

.greylink{
    color: BlueViolet;
    text-decoration: none;
    border-radius: 50%;
    background-color: WhiteSmoke;
    width: 42px;
    height: 42px;
}

.greylink:hover{
    color: White;
    background-color: BlueViolet;
}

.addbutton {
    color: Green;
    background-color: WhiteSmoke;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.addbutton:hover {
    color: White;
    background-color: Green;
}

.sendbutton {
    color: MediumBlue;
    background-color: WhiteSmoke;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.sendbutton:hover {
    color: White;
    background-color: MediumBlue;
}

.delbutton {
    color: Crimson;
    background-color: WhiteSmoke;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.delbutton:hover {
    color: White;
    background-color: Crimson;
}

.clxbutton {
    color: grey;
    background-color: WhiteSmoke;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.clxbutton:hover {
    color: White;
    background-color: grey;
}

.active1 {
    color: White;
    background-color: BlueViolet;
}