{% load static %}
{% with request.resolver_match.view_name as view_name %}
<header>
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: lightskyblue">
    <div class="container">
      <a class="navbar-brand" href="{% url 'tasks:taskcase_list' %}">
        <img src="{% static 'img/logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
        <span style="color:red">SDO</span>avia
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav nav-pills me-auto mb-2 mb-lg-0" id='collapsnav'>
        {% if user.is_authenticated %}
          {% if user.is_staff %}
            <li class="nav-item">
              <a class="nav-link {% if view_name == 'posts:create' %}active{% endif %}"
                href="{% url 'admin:index' %}">Admin</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if view_name == 'posts:create' %}active{% endif %}"
                href="{% url 'tasks:users_list' %}">Сотрудники</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if view_name == 'posts:create' %}active{% endif %}"
                href="{% url 'tasks:task_list_admin' %}">Вопросы</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if view_name == 'posts:create' %}active{% endif %}"
                href="{% url 'tasks:taskcase_list_admin' %}">Блоки тестов</a>
            </li>
          {% endif %}
        <li class="nav-item">
          <a class="nav-link link-light {% if view_name == 'users:logout' %}active{% endif %}"
             href="{% url 'users:logout' %}">Выйти</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-dark {% if view_name == 'posts:profile' %}active{% endif %}"
             href="#">Пользователь: {{ request.user.username }}</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link link-light {% if view_name == 'users:login' %}active{% endif %}"
             href="{% url 'users:login' %}">Войти</a>
        </li>
        {% endif %}
        </ul>
      </div>
    </div>
  </nav>
</header>
{% endwith %}