{% extends 'base.html' %}
 
{% block content %}
    <div class="container py-5">
        <div class="row justify-content-center">
          <div class="col-md-8 p-5">
            <div class="card shadow">
              <div class="card-header">
                <h5>Удалить аккаунт</h5>
              </div>
              <div class="card-body">
                <form action="" method="post">{% csrf_token %}
                  <p>Вы действительно хотите удалить аккаунт "{{ user.username }}"?</p>
                    <button class="btn delbutton" type="submit">Удалить</button>
                  <a class="btn clxbutton" href="{%url 'users:users_list' %}">Отмена</a>
                </form>
              </div>
            </div>
          </div>
        </div>
    </div>
{% endblock content %}