{% extends 'base.html' %}
{% block title %}
  {{ title }}
{% endblock %}
{% block content %}
{% load user_filters %}
 <div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-md-8 p-5">
      <div class="card">
        <div class="card-header">
          Назначить тест сотрудникам
        </div>
				<div class="card-body">
					<form method="post" action="{% url 'tasks:add_user_taskcase' taskcase.id %}">
					  {% csrf_token %}
						{{ form.users|addclass:' p-0 m-0 list-unstyled ' }}
						<button class="btn customlink p-0 m-0 mt-1 text-decoration-underline fw-bold" style="font-size: 100%;" type="submit">
					    Применить
						</button>
					</form>
				</div>
      </div>
    </div>
  </div>
 </div>
{% endblock %}