{% extends 'base.html' %}
{% load user_filters %}
{% block title %}{{ title }}{% endblock %}
{% block content %}

<div class="container p-0">
	<a class="nlink rounded p-3"
		 href="javascript:history.back()">
		<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
			<path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
		</svg>
		Назад</a>
	<article class="shadow p-5 pt-0 mt-3 bg-body rounded">
		<div class="h3 pt-4 d-flex mb-2">
		</div>
		<div class='py-5 pb-0 pt-0' align="justify">
			<p>{{ answer.text|linebreaks }}</p>
		</div>
			<h style="color:DimGray">Замечания</h>
			<div class="card-body p-0">
				<form method="post" action="{% url 'users:add_review' username relation answer.id %}">
					{% csrf_token %}
					<div class="form-group mb-2">
						{{ form.text|addclass:"form-control" }}
					</div>
					<button class="btn sendbutton" type="submit">
						<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-send" viewBox="0 0 16 16">
							<path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576 6.636 10.07Zm6.787-8.201L1.591 6.602l4.339 2.76 7.494-7.493Z"/>
						</svg>
						Отправить
					</button>
				</form>
			</div>
	</article>
</div>
{% endblock %}