{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<div class="container p-0">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    {% for case in task_case %}
    <a href="{% url 'tasks:task_list' case.pk %}" class="text-reset text-decoration-none">
    <div class="col">
      <div class="card shadow cardcustom">
        <div class="card-body">
          <h5 class="card-title">{{ case.title }}</h5>
          <p class="card-text">{{ case.description }}</p>
          <ul>
            <li>Новые: {{ case.NEW }} </li>
            <li>Отправлено на проверку: {{ case.ON_CHECK }} </li>
            <li>Принято: {{ case.ACCEPT }}</li>
          </ul>
        </div>
      </div>
    </div>
    </a>
    {% endfor %}
    {% if user.task_case.count > 1 %}
    Статистика всего:
    <ul>
      <li>Вопросы: {{ NEW }} </li>
      <li>Отправлено на проверку: {{ ON_CHECK }} </li>
      <li>Принято: {{ ACCEPT }}</li>
    </ul>
    {% endif %}
  </div>
  {% include 'tasks/includes/paginator.html' %}
</div>
{% endblock %}