{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<div class="container p-0">
	<a class="nlink rounded p-3" href="javascript:history.back()">
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
    </svg>
    Назад
  </a>
	{% for task in task_list %}
	<div class="shadow p-5 pt-0 mt-3 bg-body rounded">
	    <div class="h2 pt-4 row">
		   {{ task.title }}
	    </div>
			<div class='py-5 pb-0 pt-0' align="justify">
        <p>{{ task.description|linebreaks }}</p>
			</div>
			<div class="h3 pt-4 row">
		   Базовое решение:
	    </div>
			<div class='py-5 pb-0 pt-0' align="justify">
        <p>{{ task.answer|linebreaks }}</p>
			</div>
		{% load user_filters %}
		{% user_task_relation task user as relation %}
		{% for answer in relation.answers.all %}
			<div class="card col-10 d-flex justify-content-start mt-5" style="border-color: Gainsboro; border-radius: 15px;">
				<div class="card-body">
					<div class="card-title" style="color: grey;">
						Ответ сотрудника {{ user.username }}({{ user.first_name }}):
					</div>
					<p class="card-text">
						{{ answer.text|linebreaks }}
					</p>
					<div class="d-flex justify-content-end pt-3">
						{% if forloop.last %}
						<a class="btn addbutton me-2" href="{% url 'tasks:accept_answer' user.username relation.id %}">
							Принять
						</a>
						<a class="btn sendbutton" href="{% url 'tasks:answer_detail' user.username relation.id answer.id %}">
							На доработку
						</a>
						{% endif %}
					</div>
				</div>
			</div>
		{% if answer.reviews.count > 0 %}
			{% for review in answer.reviews.all %}
				<div class="d-flex justify-content-end mt-5">
					<div class="card col-10" style="border-color: MediumPurple; border-radius: 15px;">
						<div class="card-body">
							<div class="card-title" style="color: MediumPurple;">
								Замечание:
							</div>
							<p class="card-text">
								{{ review.text|linebreaks }}
							</p>
						</div>
					</div>
				</div>
			{% endfor %}
		{% endif %}
		{% endfor %}
	</div>
	{% endfor %}
</div>
{% endblock %}