{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<div class="container p-0">
	<div class="d-flex justify-content-end">
		<a class="btn addbutton" href="{% url 'tasks:create_taskcase' %}">
			<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
				<path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
			</svg>
			Добавить блок вопросов
		</a>
	</div>
	{% for task_case in task_cases %}
	<div class="shadow p-5 pt-0 mt-3 bg-body rounded">
		<div class="h4 pt-5 d-flex justify-content-between">
			<div class="row">
				{{ task_case.title }}
			</div>
			<div style="color: DimGrey; font-size: 60%;">
				<a class="text-decoration-none ms-2 greylink" href="{% url 'tasks:update_taskcase' task_case.id %}">
					Редактировать
				</a>
				|
				<a class="text-decoration-none greylink" href="{% url 'tasks:delete_taskcase' task_case.id %}">
					Удалить
				</a>
			</div>
		</div>
		<div align="justify">
			<p>{{ task_case.description }}</p>
		</div>
		<div class="h5 pt-4 row">
		 	Список вопросов:
		</div>
		<ul>
			{% for task in task_case.tasks.all %}
			<li>{{ task }}</li>
			{% endfor %}
		</ul>
		<div class="h5 pt-4 row">
		   Назначен сотрудникам:
		</div>
		<ul>
			{% for user in task_case.users.all %}
			<li>{{ user }}</li>
			{% endfor %}
		</ul>
		<div class="d-flex justify-content-end">
			<a class="btn addbutton ms-2" href="{% url 'tasks:add_task_taskcase' task_case.id %}">
				<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
					<path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
				</svg>
				Добавить вопросы
			</a>
			<a class="btn sendbutton ms-2" href="{% url 'tasks:add_user_taskcase' task_case.id %}">
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-check" viewBox="0 0 16 16">
					<path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm1.679-4.493-1.335 2.226a.75.75 0 0 1-1.174.144l-.774-.773a.5.5 0 0 1 .708-.708l.547.548 1.17-1.951a.5.5 0 1 1 .858.514ZM11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4Z"/>
					<path d="M8.256 14a4.474 4.474 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10c.26 0 .507.009.74.025.226-.341.496-.65.804-.918C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4s1 1 1 1h5.256Z"/>
				</svg>
				Назначить пользователям
			</a>
		</div>
	</div>
	{% endfor %}
</div>
{% endblock %}