{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<div class="container p-0">
	<div class="d-flex justify-content-end">
		<a class="btn addbutton" href="{% url 'tasks:create_task' %}">
			<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
				<path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
			</svg>
			Добавить вопрос
		</a>
	</div>
	{% for task in task_list %}
	<div class="shadow p-5 pt-0 mt-3 bg-body rounded">
		<div class="h4 pt-5 d-flex justify-content-between">
			<div class="row">
				{{ task.title }}
			</div>
			<div style="color: DimGrey; font-size: 60%;">
				<a class="text-decoration-none ms-2 greylink" href="{% url 'tasks:update_task' task.id %}">
					Редактировать
				</a>
				|
				<a class="text-decoration-none greylink" href="{% url 'tasks:delete_task' task.id %}">
					Удалить
				</a>
			</div>
		</div>
		<div align="justify">
			<p>{{ task.description|linebreaks }}</p>
		</div>
		<div class="h5 pt-4 row">
			Находится в блоке вопросов:
		</div>
		<div>
			{% for taskcase in task.task_case.all %} {{ taskcase }} {% endfor %}
		</div>
		<div class="h5 pt-4 row">
		 Решение :
		</div>
		<div align="justify">
			<p>{{ task.answer|linebreaks }}</p>
		</div>
	</div>
	{% endfor %}
</div>
{% endblock %}