{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<div class="container p-0">
	<div class="d-flex justify-content-end">
		<a class="btn addbutton" href="{% url 'tasks:create_user' %}">
			<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
				<path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
			</svg>
			Добавить сотрудника
		</a>
	</div>
	{% for user in users %}
	<div class="shadow p-5 pt-0 mt-3 bg-body rounded">
		<div class="h4 pt-5 d-flex justify-content-between">
			<div class="row">
				{{ user.username }}({{ user.first_name }})
			</div>
			<div style="color: DimGrey; font-size: 60%;">
				<a class="text-decoration-none ms-2 greylink" href="{% url 'tasks:update_user' user.username %}">
				Редактировать
			</a>
			|
			<a class="text-decoration-none greylink" href="{% url 'tasks:delete_user' user.username %}">
				Удалить
			</a>
			</div>
		</div>
		{% if user.tasks.count > 0 %}
			<ul>
        <li>Блоки: {% for taskcase in user.task_case.all %} {{taskcase}} {% endfor %}</li>
				<li>Вопросы: {{ user.NEW }} </li>
				<li>Ожидает проверки: {{ user.ON_CHECK }} </li>
				<li>Решено: {{ user.ACCEPT }}</li>
			</ul>
		{% else %}
		Нет назначенных тестов
		{% endif %}
		<div class="d-flex justify-content-end">
			{% if user.ON_CHECK > 0 %}
			<a class="btn addbutton" href="{% url 'tasks:check_task' user.username %}">
				<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
					<path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"/>
				</svg>
        Проверить
      </a>
			{% endif %}
			<a class="btn sendbutton ms-2" href="{% url 'tasks:add_taskcase_user' user.username %}">
				<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-card-checklist" viewBox="0 0 16 16">
					<path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
					<path d="M7 5.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0zM7 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0z"/>
				</svg>
        Назначить блок
      </a>
			<a class="btn sendbutton ms-2" href="{% url 'tasks:add_task_user' user.username %}">
				<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-list-check" viewBox="0 0 16 16">
					<path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3.854 2.146a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708L2 3.293l1.146-1.147a.5.5 0 0 1 .708 0zm0 4a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708L2 7.293l1.146-1.147a.5.5 0 0 1 .708 0zm0 4a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0z"/>
				</svg>
        Вопросы
      </a>
		</div>

	</div>
	{% endfor %}
</div>
{% endblock %}